* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Clash Display", sans-serif, Poppins, sans-serif;
}
.App {
  align-items: center;
  /* border: 2px solid orange; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none; 

}
.container {
  width: 80%;
  overflow: scroll;
  max-width: 400px;
}

/* navbar.................................................................................................................. */
.nav {
  padding: 6px;
  /* border: 2px solid black; */
  display: flex;
  position: fixed;
  background: white;
  z-index: 50;
  width: 379px;
}

.navbtn {
  background-color: white;
  cursor: pointer;
  border: none;
  font-size: 28px;
}
.profileimg {
  margin-top: 14px;
  /* border:2px solid black; */
  padding-left: 29px;
}
.navname p {
  margin-top: 21px;
  /* border: 2px solid greenyellow; */
  font-family: "Clash Display", sans-serif, Poppins, sans-serif;
  font-weight: 500;
  color: black;
  font-size: 27px;
}
.navsearchbtn {
  /* padding-left: 78px; */
  /* border: 2px solid pink; */
  height: 22px;
  background: white;
  border: none;
  cursor: pointer;
  position: relative;
  left: 31px;
  top: 26px;
}
.fa-solid {
  font-size: 22px;
}

@media only screen and (max-width: 445px) {
  .navname p {
    margin-top: 21px;
    /* border: 2px solid greenyellow; */
    font-family: "Clash Display", sans-serif, Poppins, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 20px;
  }
  .profileimg {
    margin-top: 14px;
    /* border:2px solid black; */
    padding-left: 7px;
  }
  /* video media ............... */

  .videoContainer video {
    width: 100% !important;
    max-width: 393px;
    margin: auto;
    height: 530px;
    max-height: 65vh;
    /* object-fit: cover; */
  }
  .videoContainer h2 {
    position: relative;
    font-size: 29px !important;
  }
  .fa-play {
    top: -336px !important;
    left: 140px !important;
    font-size: 39px !important;
  }
  .videocard {
    left: 3px !important;
  }
  .taggedcontainer {
    height: 94vh !important;
  }
  .taggedCard img {
    width: 100px;
    margin: auto;
    display: flex;
  }
  .taggedCard{
    /* border: 2px solid yellow; */
    font-size: 13px !important;
    
  }
  .taggedbtn {
    position: relative;
    margin-top: 15px;
    background: #021927;
    color: white;
    padding: 2px;
    border-radius: 15px;
    width: 114px;
  }

  .head1 {
    font-size: 17px !important;
  }
  .colcontainer {
    display: flex;
    gap: 6px !important;
  }
  .dress_col1 {
    width: 121px !important;
    height: 258px !important;
  }
  .img1_col1 {
    width: 120px !important;
    height: 64px !important;
  }
  .img3_col1 {
    width: 122px !important;
    height: 133px !important;
  }
  .img2_col1 {
    width: 123px !important;
    height: 119px !important;
    margin-top: 7px !important;
  }
  .favoritecontainerbtn {
    width: 280px !important;
  }
  .footer {

  }
  .favoritecontainer {
    height: 120vh !important;
    margin-top: 20px !important;
  }
}

/* Video-container............................................................................................................. */

.videoContainer {
  padding: 0px;
  position: sticky;
  top: 80px;
  margin-top: 83px;
}

.videoContainer video {
  width: 100% !important;
  min-width: 300px;
  margin: auto;
  height: 530px;
  max-height: 65vh;
}

.playbtn {
  border: 2px solid red;
}
.fa-play {
  color: #241818;
  font-size: 49px;
}
.videoContainer h2 {
  color: #262424;
  font-size: 33px;
}
.play-icon{

}
/* videocard ......*/
.videocard {
  height: 95px;
  margin: 30px;
  padding: 10px;
  background: white;
  min-width: 230px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 9px;
}
.videocard img {
  width: 50px;
  height: 54px;
  margin-top: 5px;
}
.cardinfo {

  font-size: 13px;
}
.p_tag_video_card {
  font-size: 12px;
  color: #dd5f2d;
  margin-top: 10px;
  color: #dd5f2d;

}
.videocardbtn {
  border-radius: 11px;
  color: white;
  background: black;
  width: 58px;
  height: 34px;
}
.videocardbtn a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}
/* Tagged............................................................. */
.taggedcontainer {
  /* border: 3px solid rgb(0, 0, 0);  */
  /* margin-top: 545px; */
  height: 106vh;

  border-radius: 17px;
  background: #f1f4f9;
  box-shadow: -7px, black;
  position: relative;
  box-shadow: 0px -10px white;
  top: 22px;
  z-index: 2000;
  border: 2px solid #f1f4f9;
}
.head1 {
  font-size: 21px;
  font-weight: 700;
  margin-left: 22px;
  margin-top: 27px;
  line-height: 25px;
}
.cardcontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.taggedCard {
  margin: 3px;
  padding: 9px;
  /* border: 2px solid yellow; */
  width: 45%;
  font-size: 14px;
  line-height: 20px;
  background: white;
  margin-top: 9px;
  border-radius: 16px;
}
.taggedbtn {
  position: relative;
  background: #021927;
  color: white;
  margin-top: 15px;
  padding: 2px;
  border-radius: 15px;
  width: 120px;
}
.taggedbtn a {
  text-decoration: none;
  color: white;
}
.taggedoff {
  color: #dd5f2d;
  position: relative;
  top: -20px;
  left: 85px;
  font-size: 11px;
}

/* completeContainer//////////////////////// */
.completeContainer {
  border: 2px solid #f1f4f9;
  background: #f1f4f9;
  border-radius: 15px;
  margin-top: 43px;
  z-index: 1000;
  position: relative;
}
.cardoffer {
  left: 12px;
  top: -304px;
  color: white;
  /* border: 2px solid red; */
  width: 125px;
  border-radius: 9px;
  background: #e91e63;
  font-size: 13px;
  padding: 3px;
  position: relative;
}
/* favoritecontainer///////////////////////////////////////////////// */
.favoritecontainer {
  z-index: 700;
  border: 2px solid #f1f4f9;
  background: white;
  border-radius: 15px;
  height: 139vh;
  position: relative;
  margin-top: 21px;
}
.favoritecontainer p {
  font-size: 12px;
  color: gray;
}
.col1 {
  display: flex;
  flex-direction: column;
}
.img1_col1 {
  width: 160px;
  height: 90px;
  margin-top: 15px;
}
.dress_col1 {
  width: 160px;
  height: 284px;
  border-radius: 15px;
  margin-top: 7px;
}
.img2_col1 {
  width: 160px;
  height: 160px;
  margin-top: 7px;
}
.img3_col1 {
  width: 160px;
  height: 160px;
  margin-top: 7px;
}
.colcontainer {
  /* height: 114vh; */
  display: flex;
  gap: 13px;
  margin-left: 18px;
  position: relative;
  background: white;
  z-index: 1000;
}
.favoritecontainerbtn {
  padding: 5px;
  border-radius: 15px;
  width: 335px;
  display: block;
  margin: auto;
  margin-top: 21px;
  height: 28px;
  background: white;
  border: 1px solid #666666;

  font-weight: 600;
  cursor: pointer;
}
.favoritecontainerbtn a {
  text-decoration: none;
  color: #666666;
  font-size: 14px;
}
.footer {

}
.footercontainer {
  display: flex;
    flex-direction: column;
    align-items: center;
  background: white;
}
