*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  align-items: center;
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
}
.container{
  border: 2px solid red;
  height: 100vh;
  width: 80%;
  max-width: 400px;
}

/* navbar.................................................................................................................. */
.nav{
  padding:6px;
  /* border:2px solid black; */
  display:flex;
}
.navbtn{
  background-color: white;
  cursor: pointer;
  border: none;
  font-size: 28px;
}
.profileimg{
    margin-top: 14px;
    /* border:2px solid black; */
    padding-left: 29px;
}
.navname p{
  margin-top: 21px;
    /* border: 2px solid greenyellow; */
    font-family: "Clash Display", sans-serif, Poppins, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 27px;
  
}
.navsearchbtn  {
  /* padding-left: 78px; */
  border: 2px solid pink;
  height: 22px;
  background: white;
  border: none;
  cursor: pointer;
  position: relative;
  left: 31px;
  top: 26px;
}
.fa-solid{
  position: relative;
  top: 30px;
  left: 65px;

}
@media only screen and (max-width: 445px) {
  .fa-solid{
    position: relative;
    top: 25px;
    left: 27px;
}
.navname p{
  margin-top: 21px;
    /* border: 2px solid greenyellow; */
    font-family: "Clash Display", sans-serif, Poppins, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 20px;
  
}
.profileimg{
  margin-top: 14px;
  /* border:2px solid black; */
  padding-left: 7px;
}
}